<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wisnu.kurniawan.composetodolist">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.wisnu.kurniawan.composetodolist.runtime.ComposeToDoListApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash">

        <profileable
            android:shell="true"
            tools:targetApi="q" />

        <activity
            android:name="com.wisnu.kurniawan.composetodolist.runtime.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.wisnu.kurniawan"
                    android:scheme="todox" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".features.todo.taskreminder.ui.TaskBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.wisnu.kurniawan.composetodolist.runtime.initializer.DebugToolsInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.wisnu.kurniawan.composetodolist.runtime.initializer.LoggrInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
